mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr


mixin miniProductCard(bgImage, textName, textPrice)
  .min-product-card
    .min-product-card__img(style="background-image: url('assets/img/"+bgImage+"')")
    .min-product-card__content
      p.min-product-card__title=textName
      span.min-product-card__price=textPrice
      a.min-product-card__link(href='#') Подробнее

mixin type-stair(bgImage, textTitle, textDescription)
    a(href='#').catalog-slider__item.type-stair
      .type-stair__wrapper-img
        img(src='assets/img/'+bgImage+'').type-stair__image
      .type-stair__body
        span.type-stair__title=textTitle
        p.type-stair__text=textDescription

mixin productCard(productClass, bgImage, textName, textPrice)
  a(href='#' style="background-image: url('assets/img/"+bgImage+"')", class=productClass)
    span.card-product__like
    .card-product__info
      p.card-product__info-text=textName
      span.card-product__info-price=textPrice
      ul.product-description
        li.product-description__item
          p Ступени:
          span 14 шт
        li.product-description__item
          p Высота:
          span 3 200 мм
        li.product-description__item
          p Материал:
          span Дерово
      p.card-product__info-description Превосходная лестница, с уникальным дизайном поручней, который украсит ваш особняк!

mixin portfolioCard(bgImage, titleText, regionText, expirationDate, dataText)
  .portfolioCard(style="background-image: url('assets/img/"+bgImage+"')")
    span.icon-like.portfolioCard__like
    .portfolioCard__body
      span.portfolioCard__body-title=titleText
      table.table.portfolioCard__table
        tbody
          tr
            td Регион:
            td=regionText
          tr
            td Срок производства:
            td=expirationDate
          tr
            td Дата:
            td=dataText
      a(href='#').btn.btn-outline-light.portfolioCard__btn подробнее

mixin customProducts(title, text, altImage, urlImage, wrapperClass)
  a.card(class=wrapperClass href='#')
    .card-img-block
      img.card-img-top(src='assets/img/'+urlImage+'' alt=altImage)
    .card-body
      h5.card-title=title
      p.card-text=text

mixin stepMaking(wrapperClass, urlImage, altImage, text, num)
  .card(class=wrapperClass)
    .card-img-block
      span.card__num=num
      img.card-img-top(src='assets/img/' + urlImage + '' alt=altImage)
    .card-body
      p.card-text=text


mixin catalogInfo(dopClass, btnFlag, bgImage, title, text1, text2)
  .backlight-block(style="background-image:"+bgImage+";" class=dopClass)
    .backlight-block__content
      span.backlight-block__content-title=title
      p.backlight-block__content-text=text1
      p.backlight-block__content-text=text2
      if btnFlag==='true'
        a(href='#' class='btn btn-outline-light backlight-block__content-btn') Подробнее

mixin elementView(image, title, ...items)
  .elementView
    .elementView__imgBlock
      img(src='assets/img/' + image + '' alt='')
    .elementView__content
      span.elementView__title=title
      ul.elementView__list.red-squares-list
        each item in items
          li.elementView__item.red-squares-list__item= item


mixin cartBlock(image, title, textPrice, description1, description2, description3)
  .cartBlock.row
    .cartBlock__img.col-md-6
      img.w-100(src='assets/img/' + image + '' alt='')
    .cartBlock__body.col-md-6
      a(href='#').cartBlock__title=title
      span.cartBlock__price=textPrice

      ul.product-description
        li.product-description__item
          p Ступени:
          span=description1
        li.product-description__item
          p Высота:
          span=description2
        li.product-description__item
          p Материал:
          span=description3


      button.cartBlock__delete <i></i> <span>Удалить</span>
